[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "~=3.3"
pyqt5 = "~=5.15"

[dev-packages]
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3.9"
